{% extends 'base.html' %}

{% block app_content %}


    <div class="container">
        <div class="jumbotron">
            <h1>About Crook County Towing</h1>
        </div>


        <p class="lead">
            I bet you're wondering why this site was created. I am sure it is similar to why you are here. Do you feel
            like towing companies get away with murder? I do. I recently got towed and felt like I got taken advantage
            of. A 7 mile tow cost me $190. I'm sure you're thinking,
            but guy who created this website, I am sure you're leaving something out. Like your car was in in 5 foot of
            snow in a ditch rolled over and needed to be flipped first before a tow could happen. Maybe all 4 tires were
            flat and .. I am going to stop your imagination right there. It was a very simple and straightforward tow. I
            live in Cook County the home of the Cubs, Bears, and Blackhawks...Before you send me an email bitch'n about
            how I forgot the White Sox, I didn't. Now, back to why I created this hopefully helpful website. I got a lot
            of feedback that my tow was very high. This is the first time I have been towed so to me it wasn't a big
            deal. Cook County aka Crook County is known for it’s honest and upstanding towing companies, look up Lincoln
            Towing if you don't believe me. But like anyone who has had service rendered I called the company that towed
            and asked why the tow was so high but never got a straight answer. This bothered me. I will not say who this
            company is but it is the first entry if you're interested. After getting nowhere I decided to call and get
            an estimate on a 10 mile tow. To my surprise a 10 mile tow was quoted at $90. That’s the same tow that I was
            charged $190.00 for. Next, I did what any uneducated person would do and asked how that number was
            calculated, but sadly no more information was given.


        </p>

        <p class="lead">
            You might be wondering what is the goal of this website? I would like to expose these towing companies for
            what they are. THEIVES AND LIARS. Also, I want to bring exposure to the pricing of towing. Maybe, if we can
            get enough traffic, someone with the right title will see this and to regulate these THEIVES AND LIARS.
            Spread the word and share this glorious site to friends and family.
        </p>

        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    <a href="mailto:rubbishbin@crookcountytowing.com" target="_blank" class="btn btn-primary" style="width:100%">Email
                        Us</a>
                </div>
                <div class="col">

                </div>
            </div>
        </div>

    </div>


{% endblock %}