{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {% if title %} {{ title }} {% else %}Crook County Towing{% endif %}
{% endblock %}

{% block navbar %}

    {#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
    {#<nav class="navbar navbar-toggleable-md navbar-expand-sm navbar-light bg-light" style="padding: 1px; width: 100%">#}
    {#  <div class="collapse navbar-collapse" id="navbarDiv">#}
    {#    <ul class="navbar-nav mr-auto">#}
    {#      <li class="nav-item">#}
    {#        <a class="nav-link navLink" href="{{ url_for('home') }}">Home</a>#}
    {#      </li>#}
    {#      <li class="nav-item">#}
    {#        <a class="nav-link" href="{{ url_for('submit') }}">Submit</a>#}
    {#      </li>#}
    {#      <li class="nav-item">#}
    {#        <a class="nav-link" href="{{ url_for('about') }}">About</a>#}
    {#      </li>#}
    {#    </ul>#}
    {##}
    {##}
    {#    <form class="form-inline my-20 " action="" method="POST" novalidate>#}
    {#        {{ form.csrf_token }}#}
    {#        {{ form.keyword(class='form-control mr-sm-2') }}#}
    {#        {{ form.search(class='btn btn-outline-success my-2 my-sm-0') }}#}
    {#    </form>#}
    {#  </div>#}
    {#</nav>#}

    <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light navbar-inverse"
         style="padding: 1px; width: 100%">

        <button id="nav-btn" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarDiv">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link navLink" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('submit') }}">Submit</a>
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </div>

                <form class="form-inline my-20 " action="" method="POST" novalidate>
                    {{ form.csrf_token }}
                    {{ form.keyword(class='form-control mr-sm-2') }}
                    {{ form.search(class='btn btn-outline-success my-2 my-sm-0') }}
                </form>

            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <body>
    <div class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-danger" role="alert">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>
        {% block app_content %}{% endblock %}
    </div>

    </body>



{% endblock %}



