{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/table.css') }}">


{% endblock %}

{% block app_content %}
    {#    search       #}
    <div class="container">

        {#    search       #}
            <div class="jumbotron">
                <h1>Welcome to Crook County Towing</h1>
            </div>

        <h4>Here are the 10 most recent submissions:</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Price</th>
                    <th scope="col">Distance (in miles)</th>
                    <th scope="col">Price Per Distance</th>
                    <th scope="col">Rating</th>
                </tr>
                {% for entry in entries %}
                    {% if entry.rating == 'Bad' %}
                        <tr class="table-danger">
                            {% elif entry.rating == 'Good' %}
                        <tr class="table-success">
                            {% else %}
                        <tr>
                    {% endif %}
                <th scope="row"><a href="{{ url_for('info', id=entry.id) }}" class="badge badge-pill badge-primary">{{ entry.company }}</a></th>
                <td>{{ entry.price }}</td>
                <td>{{ entry.distance }}</td>
                <td>{{ (entry.price / entry.distance) | round(2,'ceil') }}</td>
                <td>{{ entry.rating }}</td>

                </tr>

                {% endfor %}
            </table>
        </div>


    </div>

{% endblock %}

