{% extends 'base.html' %}

{% block app_content %}

    {#    Company X#}
    {##}
    {#Number of:#}
    {#Good:#}
    {#Average:#}
    {#Bad:#}
    {##}
    {#Last 20 Tow Records:#}

    <div class="container">

        <div class="jumbotron">
            <h1>{{ company_info['company_name'] }}</h1>
        </div>
        <p>Average Price: {{ company_info['price_avg'] | round(2,'ceil')  }}</p>
        <p>Average Quote: {{ company_info['estimate_avg'] | round(2,'ceil') }}</p>
        <p>Good Ratings: {{ company_info['good_count'] }}</p>
        <p>Average Ratings: {{ company_info['average_count'] }}</p>
        <p>Bad Ratings: {{ company_info['bad_count'] }}</p>

        <div>


        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th scope="col">Price</th>
                    <th scope="col">Distance (in miles)</th>
                    <th scope="col">Price Per Distance</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Commit</th>
                </tr>
                {% for entry in company_info['tow_history'] %}
                    {% if entry.rating == 'Bad' %}
                        <tr class="table-danger">
                            {% elif entry.rating == 'Good' %}
                        <tr class="table-success">
                            {% else %}
                        <tr>
                    {% endif %}
                <td>{{ entry.price }}</td>
                <td>{{ entry.distance }}</td>
                <td>{{ (entry.price / entry.distance) | round(2,'ceil') }}</td>
                <td>{{ entry.rating }}</td>
                <td>{{ entry.commit }}</td>

                </tr>

                {% endfor %}
            </table>
        </div>
    </div>





    </table>

{% endblock %}

