{% extends 'base.html' %}

{% block links %}

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/table.css') }}">


{% endblock %}

{% block app_content %}
    {#    search       #}
    {##}
    {#    <div>#}
    {#        <p>Search For Tow:</p>#}
    {#        <form action="" method="post" novalidate>#}
    {#            {{ form.hidden_tag() }}#}
    {#            <p>#}
    {#                &emsp;{{ form.keyword.label }}<br>#}
    {#                &emsp;{{ form.keyword(size=32) }}#}
    {#                {% for error in form.keyword.errors %}#}
    {#                <br><span style="color: red;">[{{ error }}]</span>#}
    {#                {% endfor %}#}
    {#            </p>#}
    {##}
    {#            <p> &emsp;{{ form.search()  }}</p>#}
    {#        </form>#}
    {#    </div>#}
    {##}
    {##}
    {#    search       #}

    <div>
        <h1>Results:</h1>
        <table>
            <tr>
                <th>Company</th>
                <th>Price</th>
                <th>Distance (in miles) </th>
                <th>Price Per Distance</th>
                <th>Rating</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <div><p>  </p></div>
                    <td><a href="{{ url_for('info', id=entry.id) }}">{{ entry.company}}</a></td>
                    <td>{{entry.price}}</td>
                    <td>{{entry.distance }}</td>
                    <td>{{ (entry.price / entry.distance) | round(2,'ceil')}}</td>
                    <td>{{ entry.rating }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

