{% extends "base.html" %}

{% block app_content %}
    <h1>Submit A Tow</h1>
    <form action="" method="POST" novalidate>

        {{ search_form.hidden_tag() }}
        <div class="form-group">
            {{ search_form.company.label }}<br>
            {{ search_form.company(size=32, class="form-control") }}
            {% for error in search_form.company.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ search_form.distance.label }}<br>
            {{ search_form.distance(size=32, class="form-control") }}
            {% for error in search_form.distance.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ search_form.price.label }}<br>
            {{ search_form.price(size=32, class="form-control") }}
            {% for error in search_form.price.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ search_form.estimate.label }}<br>
            {{ search_form.estimate(size=32, class="form-control") }}
        </div>

        <div class="form-check">
            {{ search_form.rating.label() }}
            {{ search_form.rating(class="form-check-label") }}
            {% for error in search_form.rating.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>


        <div class="form-group">
            {{ search_form.comment.label }}<br>
            {{ search_form.comment.size }}
            {{ search_form.comment(rows=5, class="form-control") }}
            {% for error in search_form.comment.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ search_form.submit(class="btn btn-primary") }}
        </div>

    </form>
{% endblock %}